11/1125----->PAndas with DS using AI from kaggle

In [4]:
import pandas as pd

In [5]:
## Read the files 
movies=pd.read_csv(r"C:\Users\SNEHA\OneDrive\Desktop\DS_My notes\pro pandas\movie.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [6]:
tags=pd.read_csv(r"C:\Users\SNEHA\OneDrive\Desktop\DS_My notes\pro pandas\tag.csv")
tags

        userId  movieId            tag            timestamp
0           18     4141    Mark Waters  2009-04-24 18:19:40
1           65      208      dark hero  2013-05-10 01:41:18
2           65      353      dark hero  2013-05-10 01:41:19
3           65      521  noir thriller  2013-05-10 01:39:43
4           65      592      dark hero  2013-05-10 01:41:18
...        ...      ...            ...                  ...
465559  138446    55999        dragged  2013-01-23 23:29:32
465560  138446    55999  Jason Bateman  2013-01-23 23:29:38
465561  138446    55999         quirky  2013-01-23 23:29:38
465562  138446    55999            sad  2013-01-23 23:29:32
465563  138472      923  rise to power  2007-11-02 21:12:47

[465564 rows x 4 columns]

In [19]:
ratings=pd.read_csv(r"C:\Users\SNEHA\OneDrive\Desktop\DS_My notes\pro pandas\rating.csv")
ratings

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

#Fields available:

####ratings.csv : userId,movieId,rating, timestamp

####tags.csv : userId,movieId, tag, timestamp

####movies.csv : movieId, title, genres

In [11]:
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [12]:
print(movies.head(20))

    movieId                                  title  \
0         1                       Toy Story (1995)
1         2                         Jumanji (1995)
2         3                Grumpier Old Men (1995)
3         4               Waiting to Exhale (1995)
4         5     Father of the Bride Part II (1995)
5         6                            Heat (1995)
6         7                         Sabrina (1995)
7         8                    Tom and Huck (1995)
8         9                    Sudden Death (1995)
9        10                       GoldenEye (1995)
10       11         American President, The (1995)
11       12     Dracula: Dead and Loving It (1995)
12       13                           Balto (1995)
13       14                           Nixon (1995)
14       15                Cutthroat Island (1995)
15       16                          Casino (1995)
16       17           Sense and Sensibility (1995)
17       18                      Four Rooms (1995)
18       19  Ace Ventura: When Nature Calls (1995)
19       20                     Money Train (1995)

                                         genres
0   Adventure|Animation|Children|Comedy|Fantasy
1                    Adventure|Children|Fantasy
2                                Comedy|Romance
3                          Comedy|Drama|Romance
4                                        Comedy
5                         Action|Crime|Thriller
6                                Comedy|Romance
7                            Adventure|Children
8                                        Action
9                     Action|Adventure|Thriller
10                         Comedy|Drama|Romance
11                                Comedy|Horror
12                 Adventure|Animation|Children
13                                        Drama
14                     Action|Adventure|Romance
15                                  Crime|Drama
16                                Drama|Romance
17                                       Comedy
18                                       Comedy
19           Action|Comedy|Crime|Drama|Thriller

In [13]:
movies.head(20)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

difference b/w print(movies.head(20)) and movies.head(20):

print(movies.head(20)) -----> prints the DataFrame in a plain text table format.

movies.head(20) -----> Jupyter formats the output in a pretty HTML/styled table.
This makes it look like a spreadsheet, sometimes without column headers shown clearly,

DAta Structures:

Series:

In [15]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [20]:
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [21]:
print(row_0)

userId                        18
movieId                     4141
tag                  Mark Waters
timestamp    2009-04-24 18:19:40
Name: 0, dtype: object

In [22]:
row_0.index

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [23]:
'rating' in row_0

False

In [24]:
'ratings' in row_0

False

In [26]:
row_0.index

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [28]:
row_0['userId']

18